extends container
block content
    p Your reservation #{title} in #{country}, #{city} for #{guests} guests is approved.
    p.f-style-italic Dates of the reservation for #{nights_reserved} nights are:
        p.f-weight-bold from #{dateFrom} till #{dateBy}
    p.f-weight-bold The cost of the reservation is #{sum_reservation} #{currency}.
    p Please, pay it during 24 hours!









