extends container
block content
    p The premises #{title} in #{country}, #{city} is leased.
        p.f-weight-bold The number of guests is #{guests}, the renter is #{renter}.
    p.f-style-italic Dates of reservation for #{nights_reserved} nights are:
        p.f-weight-bold from #{dateFrom} till #{dateBy}
    p.f-weight-bold The cost of the reservation is #{sum_reservation} #{currency}.










